.page-header {
            float: left;
            background:lightseagreen;
            color: #ffff;
            padding: 10px 15px;}

.nav.justify-content-end {
    height: 67px;
}

.mt-0 {
    color: lightseagreen;
    padding: 10px;
}

.img-fluid {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

